{% extends 'base.html'%}

{% block content %}

{% if user.is_authenticated %}
    <p></p>
    <div style = "border : black 1px solid;">
      <div style = "float :left; display: block;">
          <a>수위1</a>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">확인</button>
      </div>
      <div style = "float : left; display: block;">
          <a>수위2</a>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">확인</button>
      </div>


      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
      </div>
    </div>


{% else %}

    <h1>This is personal TRY website</h1>

{% endif %}

{%endblock%}