{% extends 'base.html'%}

{% block content %}

{% if user.is_authenticated %}

    <h1>Info</h1>
    <table class="table table-dark table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">created time</th>
            <th scope="col">Name</th>
            <th scope="col">email</th>
            <th scope="col">phone</th>
          </tr>
        </thead>
    {% if records %}
        {% for record in records %}
        <tbody>
          <tr>
            <td>{{record.id}}</td>
            <td>{{record.created_at}}</td>
            <td>{{ record.first_name }}{{ record.last_name }}</td>
            <td>{{ record.email }}</td>
            <td>{{ record.phone }}</td>
          </tr>
        </tbody>
        {% endfor %}
    {% endif %}
      </table>

{% else %}

    <h1>Hellow</h1>

{% endif %}

{%endblock%}