<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <meta charset = "UTF-8">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Hiddenbebb</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <div class="navbar-nav">
        {% if user.is_authenticated %}
          <a class="nav-link active navbar-brand" aria-current="page" href="{% url 'home' %}">Home</a>

          <li class="nav-item">
            <a class="nav-link nav-brand" href="{%url 'logout'%}">Logout</a>
          </li>

          {% else %}
          <li class="nav-item">
            <a class ="nav-link" href="{url 'guest'}">guest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'login'%}">Login</a>
          </li>

          {% endif %}
        </div>
      </div>
    </div>
  </nav>